.HeaderLogo {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  margin-top: -120px;
  background-color: white;
  border-radius: 8px;
  transition: all 0.3s linear;
  overflow: hidden;
}

.slide-up-fade-in{
  animation: slide-up-fade-in ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: slide-up-fade-in ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: slide-up-fade-in ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: slide-up-fade-in ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: slide-up-fade-in ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  opacity: 0;
}

@keyframes slide-up-fade-in{
  0% {
      opacity:0;
      transform:  translate(0px,80px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes slide-up-fade-in{
  0% {
      opacity:0;
      -moz-transform:  translate(0px,80px)  ;
  }
  100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -webkit-transform:  translate(0px,80px)  ;
  }
  100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -o-transform:  translate(0px,80px)  ;
  }
  100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -ms-transform:  translate(0px,80px)  ;
  }
  100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
  }
} 

.HeaderLogo .Logo {
  max-width: 180px;
  max-height: 180px;
}