.InfoContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px lightgrey;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.InfoContainer .footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: lightgrey;
}

.InfoContainer .footer .border-link {
  margin-left: 5px;
}